body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#app {
	height: 100vh;
	width: 100vw;
}

.montserratFont {
  font-family: 'Montserrat', sans-serif;
}

.montserratFontBold {
  font-family: 'Montserrat', sans-serif;
  color: #DD1C1A;
	font-weight: bold;
}

.montserratFontBlue {
  font-family: 'Montserrat', sans-serif;
  color: #086788;
	font-weight: bold;
}

.container {
	height: 100vh;
	width: 100vw;
	padding: 0;
}

.inlineBlock {
	display: inline-block;
}

.inline {
	display: inline;
}

.marginTop15 {
	margin-top: 15px;
}

.navbar {
	height: 80px;
	background-color: #FFDA0A;
}

.navicon{
	font-size: 3em;
	color: #DD1C1A;
	padding-top: 13px;
  padding-left: 15px;
	display: inline-block;
}

.navtext {
	margin: 0;
	padding: 20px 20px;
	color: #086788;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	display: inline;
}

.tableContainer {
	padding: 0 15px;
}

.btn-default {
    color: #DD1C1A;
    background-color: #FFDA0A;
    border-color: #086788;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.deleteButton {
	background-color: #DD1C1A;
  color: #FFDA0A;
  margin-left: 20px;
}

.noContacts {
	margin: 15px;
	color: gray;
}

.formElement {
	margin-bottom: 15px;
}